@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --color-main: #45529d;
  --color-hide: blue;
  --color-hide-dark: #7178a0;
  --color-add: #34baec;
  --color-add-dark: #2ca6d2;
  --color-remove: #b8555e;
  --color-remove-light: #cb636c;
  --color-remove-dark: #9a3942;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
  line-height: 1.5;
  padding: 0;
  background: #f2f2f2;
  margin: 0;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 10px 22px -15px #2e397e;
  background-color: blue;
  padding: 1em;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
  padding: 2.5em 1em;
  background-color: var(--color-main);
}

header h1 {
  font-size: 2.5em;
  line-height: 1;
  color: white;
  margin: 0 0 0.65em;
}


nav {
  display: flex;
  justify-content: right;
  margin-bottom: 1em;
}

nav ul {
  list-style: square;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: brown;
  text-decoration: firebrick;
  font-size: 1.2em;
}

.content {
  margin-right: 20em;
}
.group {
  display: table-row;
  justify-content: center;
}

.list-container {
  padding: 0.65em 2em 2em;
}

ul {
  font-size: 1.15em;
  padding: 0;
  margin: 0 0 1.15em;
  list-style: none;
}

li {
  padding: 1.15em 0.5em;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #dedede;
}

li:last-child {
  border: none;
}

/* Form Controls */
input:focus,
button:focus {
  outline: none;
}

label {
  position: relative;
  display: block;
  cursor: pointer;
}

label::before {
  content: attr(data-label);
  display: block;
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

input {
  font-size: 1.15em;
  width: 70%;
  padding: 0.5em 1em;
  border: 1px solid #dcdcdc;
}

input:focus {
  border: solid 3px var(--color-add);
}

button {
  color: white;
  font-size: 1em;
  padding: 1em;
  background-color: var(--color-add);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color-add-dark);
}

button:focus {
  outline: solid 3px #fff;
  outline-offset: -3px;
}

.btn-toggle {
  background-color: var(--color-hide);
}
body{
  background-image: url('../pexels-photo-268533.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
